[submodule "vendor/libzmq"]
	path = vendor/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/DevIL"]
	path = vendor/DevIL
	url = https://github.com/DentonW/DevIL
[submodule "vendor/argon2"]
	path = vendor/argon2
	url = https://github.com/P-H-C/phc-winner-argon2
[submodule "vendor/mariadb-connector-c"]
	path = vendor/mariadb-connector-c
	url = https://github.com/mariadb-corporation/mariadb-connector-c
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/pnggroup/libpng
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
[submodule "vendor/cryptopp"]
	path = vendor/cryptopp
	url = https://github.com/weidai11/cryptopp
